header h1 {
  line-height: 80px;
  font-size: 4rem;
  margin: 0;
  display: inline-block;
}

header h2 {
  padding: 0;
}

/* Some general navigation styling, for inlining. */
nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: inline-block;
  float: right;
}

/* Text that is a link in the nav bar */
nav ul a {
  position: relative;
  display: inline-block;
  padding: 8px 3px;
  font-size: 20px;
  color: #000000;
}

/* Linked text that is hovered or focused in the nav bar */
nav ul a:hover,
nav ul a:focus {
  text-decoration: none;
  color: #5e5e5e;
  /* background-color: #eee; */
}

/* Sets the global features of the navbar, i.e. like fonts and positioning. */
.navbar {
  font-family: "Noto Serif", "Times New Roman", serif;
  width: 925px;
  margin: 0 auto;
  border-style: none none double none;
}

/* I use the p tag for the grad student text below my name so this formats that. */
.navbar p {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 13px;
}

/* Styling for the inner content of pages below. */
.inner {
  font-family: "Noto Sans", "Arial", sans-serif;
  margin: 0 auto;
  width: 925px;
  text-align: justify;
  /* font-size: 13px; */
}

.inner p {
  padding: 5px;
}

/* Floating for left and right side images */
.leftimg {
  float: left;
  padding: 10px 15px 0 0;
  max-width: 50%;
  height: auto;
}

.rightimg {
  float: right;
  padding: 10px 0 0 15px;
  max-width: 45%;
  height: auto;
}

/* Link styling to keep them black so they don't turn purple after people visit them. */
p a:link{
  color: #000000;
}

p a:visited{
  color: #5e5e5e;
}

#orcid {
  line-height: 0px;
  padding: 0px;
}