img[src$='#floatleft'] {
  float: left;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  max-width: 50%; /* Adjust to suit your content size */
}

img[src$='#floatright'] {
  float: right;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  max-width: 50%;
}

.lefty {
  float: left;
  margin-right: 0.75rem;
  margin-bottom: 1rem;
  margin-top: 0rem;
  max-width: 50%;
}


li.first-author {
    border-right: 3px solid #CC79A7;
    padding-right: 0.5rem;
    color: #CC79A7;
}
